

#wrapper{
    display: none;
}

#product-table{

}

#all-product{
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  .table-img{
      width: 80px;
      height: 60px;
      /* width: 30%; */
  }

  .item-action{
      margin: 5px;
  }

  input[type=text]{
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }