

#wrapper{
    display: none;
} 

#vendor{
    display: block;
}  

#product-table{

}

#all-product{
    overflow-x: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table, th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
  }
  
  tr:nth-child(even) {background-color: #f2f2f2;}

  .table-img{
      width: 80px;
      height: 60px;
      /* width: 30%; */
  }

  .item-action{
      margin: 5px;
  }

  input[type=text]{
    
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  #add-product{
      margin: 5px;
      float: right;
      background-color: chartreuse;
  }


  #item-found{
      border: 1px solid blue;
      margin: 10px;
      padding: 5px;
      
  }


  .container {
    width: 100%;
    background: #eee;
    margin: 10px auto;
    padding: 5px;
    position: relative;
    text-align:left;
  }

  .block{
      /* height: 100%; */
  }

  .error-msg{
      background: lightgoldenrodyellow;
      text-align: center;
  }

  /* .input-cell:focus {
      background: transparent;
  } */